<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book My Room - @ViewBag.Title</title>
    <link href="~/Contents/bootstrap/css/bootstrap.flatly.min.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap/css/bootswatch.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    <script>_booker = '@User.Identity.Name';</script>
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
    <div class="alert alert-block hide span12" id="genMsg"></div>
    <div class="container">
        @Html.Partial("nav")
        @RenderBody()

        <footer id="footer">
            <p class="pull-right"><a href="#top">Back to top</a></p>
        </footer>
    </div>
</body>
<script src="~/Scripts/vendor/jquery.min.js"></script>
<script src="~/Scripts/vendor/jquery.smooth-scroll.min.js"></script>
<script src="~/Contents/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/vendor/bootswatch.js"></script>
<script src="~/Scripts/vendor/underscore-min.js"></script>
<script src="~/Scripts/vendor/backbone-min.js"></script>
<script src="~/Contents/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/vendor/xdate.js"></script>
@RenderSection("Scripts", false)
</html>
